.navbar-admin{
    background-color: rgba(0,255,255,0.2) !important;
}
.navbar-public{
    background-color: rgba(0,0,0,0.4) !important;
}
.public-body{
    height: 100vh;
    background-image: url('../../storage/app/public/loginImages/image4.jpg');
    background-color: white;
    background-size: cover;
    background-position: center;
}
.admin-body{
    height: 100vh;
    background-color: #282c34;
}
.table-responsive{
    max-width: 930px;
}
.title{
    border-left-width: 10px;
    border-left-color: gray;
    border-left-style: solid;
    background: darkcyan;
    color: aliceblue;
}

.login-card{
    background-color: rgba(0,0,0,0.4) !important;
    height: 100%;
}
.dashboard-card{
    background-color: rgba(0,255,255,0.2) !important;
}
thead{
    background-color: rgba(0,0,0,0.3) !important;
}
tbody tr:hover{
    background-color: rgba(0,0,0,0.4) !important;
    color: white!important;
        /* font-size: medium; */
}
.btn:hover{
    background-color: aqua!important;
    color: black!important;
}
#myChart{
    background-color: rgba(0,255,255,0.2);
    max-height:50vh;
}